version:  "3"

services:
  reverse:
    container_name: reverse
    hostname: reverse
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - /home/debian/nginx/config:/etc/nginx
      - /home/debian/nginx/certs:/etc/ssl/private
      