version:  "3"
    
services:
  reverse:
    container_name: reverse
    hostname: reverse
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - /root/Nest_nginx/config/conf.d/:/etc/nginx/conf.d
      - /root/Nest_nginx/config/nginx.conf:/etc/nginx/nginx.conf