version:  "3"
    
services:
  reverse:
    container_name: reverse
    hostname: reverse
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - type: bind
        source: /root/Nest_nginx/nginx/config
        target: /etc/nginx
        source: /root/Nest_nginx/nginx/certs
        target: /etc/ssl/private